<a href="/", style="text-decoration:none"><pre>{{ title }}</pre></a>

<p><b>welcome, <a href="/{{ pseudonym }}">{{ pseudonym }}</a></b></p>
<p><b>wandering library {{ libronym }}</b></p>

{% if cards %}
  <h2>cards in {{ libronym }}</h2>
  {% for card in cards %}
    <h3>
      <a href="/{{ pseudonym }}/{{ libronym }}/{{ card['created'] }}">
        {{ card['created'] }} {{ card['preview'] }}
      </a>
    </h3>

    <form class="" action="/delete/cards/{{ card['id'] }}" method="post" style="margin:0;display:inline;">
      <input type="hidden" name="url" value="{{ url_for(request.endpoint, **request.view_args) }}">
      <input type="submit" value="remove">
    </form>
  {% endfor %}
{% endif %}

<h2>create a card</h2>
<form class="" action="/{{ pseudonym }}/{{ libronym }}/create" method="post">
  <label for="created"><b>enter cration date (yyyy-mm-dd-hh-mm)</b></label><br>
  <input type="text" name="created" value=""><br>
  <input type="submit" value="create">
</form>
