<a href="/", style="text-decoration:none"><pre>{{ title }}</pre></a>

{% if pseudonym %}
  <p><b>welcome, {{ pseudonym }}</b></p>

  {% if libraries %}
    <h2>wander a library</h2>
    {% for library in libraries %}
      <h3><a href="/{{ pseudonym }}/{{ library['libronym'] }}">
          {{ library['libronym'] }}
      </a></h3>

      <form action="/delete/libraries/{{ library['id'] }}" method="post" style="margin:0;display:inline;">
        <input type="hidden" name="url" value="{{ url_for(request.endpoint, **request.view_args) }}">
        <input type="submit" value="remove">
      </form>

      <p><b>last updated:</b> {{ library['last_updated'] }}</p>
      <p><b>cards:</b> {{ library['card_count'] }}</p>
      <p><b>logonyms:</b> {{ library['logonym_count'] }}</p>
    {% endfor %}
  {% endif %}

  <br><br>
  <h2>build a library</h2>
  <form class="" action="/{{ pseudonym }}/create" method="post">
    <label for="libronym"><b>enter libronym</b></label><br>
    <input type="text" name="libronym" value=""><br>
    <input type="submit" value="create">
  </form>
{% else %}
  <form class="" action="/" method="post">
    <label for="pseudonym">enter pseudonym</label><br>
    <input type="text" name="pseudonym" value=""><br>
    <input type="submit" value="login">
  </form>
{% endif %}
