<a href="/", style="text-decoration:none"><pre>{{ title }}</pre></a>

<p><b>update {{ tablename }}</b></p>

<form class="" action="/update/{{ tablename }}/{{ object_id }}" method="post">
  <input type="hidden" name="url" value="/{{ url }}">
  {% for col in set_cols %}
    <label for="{{ col['name'] }}">{{ col['name'] }}</label><br>
    <input type="text" name="{{ col['name'] }}" value="{{ col['value'] }}"><br>
  {% endfor %}
  <input type="submit" value="update">
</form>

<form class="" action="/delete/{{ tablename }}/{{ object_id }}" method="post">
  <input type="hidden" name="url" value="/{{ url }}">
  <input type="submit" value="remove">
</form>
